.app-container {
  padding: 50px 10%;
}
.logo {
  background-image: url(songbird.svg);
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo-and-score-wrapper {
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-item {
  flex: auto;
  text-align: center;
}
.question-wrapper {
  display: flex;
}
.group-name-and-player {
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
  padding: 10px;
  /* width: 80%; */
}
.answers-and-birdinfo-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.answers-wrapper,
.bird-info-wrapper {
  flex: 0 0 50%;
}
img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0;
}
.list-item-answer {
  list-style-type: none;
  height: 50px;
  border: 1px solid red;
  cursor: pointer;
  padding: 10px;
}
.list-item-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.2s;
}
ul {
  padding-inline-start: 0;
}
/* .bird-name-and-player-wrapper {
} */
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.btn {
  width: 100%;
}
.btn-next {
  background-color: #00bc8c !important;
}
.btn-next:hover {
  background-color: #00efb2;
}
.btn:focus {
  box-shadow: none;
}
.finished {
  background-color: #303030;
  padding: 69px;
}
.finished > h1 {
  font-size: 4.5rem;
  font-weight: lighter;
  text-align: center;
  margin: 30px;
}
.finished > p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
  margin: 30px
}
.finished > button {
  padding: 15px;
}
